.mainContainer {
    display: flex;
}

.mainContainer span {
    margin: 0px 10px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 82, 217);
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    padding: 4px;
    color: white;



}

.btnMinus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 41, 85);
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    padding: 4px;
    color: white;
}